
.verifyOtpFOrm{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 40%;
    align-self: center;
    border-radius: 25px;
    margin-top: 30px;
    padding: 100px;
  }
  .formandImgContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.DOBFormContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
  padding-left: 62px;
  padding-right: 64px;

}
.ContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: fit-content;
  align-self: center;
  padding-top: 50px;
  border-radius: 25px;
  margin-top: 30px;
  margin: 10px;
  
}
.resendText{
  margin: 10px;
}
.OtpinputEl{
  height: 30px;
}
.verifyOtpContentContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.DOBform{
    display: flex;
    justify-content: space-between;
}
.DateInputFields {
    width: 30%;
    border-width: 1px;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
.DOBformText {
    color: #06237D;
    align-self: flex-start;
    background-color: transparent;
    outline: none;
    border-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: start;
}

